.title {
  color: var(--primary-color);
  margin: 4px 0;
}

.text {
  color: var(--secondary-color);
  margin: 4px 0;
}

.error {
  .title {
    color: var(--error-color-light);
  }

  .text {
    color: var(--error-color-dark);
  }
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

// SIZE

.size_small {
  .title {
    font: var(--font-m);
  }

  .text {
    font: var(--font-s);
  }
}

.size_medium {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.size_large {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}
