.root {
  cursor: pointer;
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 6px;
  transition: background 0.3s;
}

.hover:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.disabled {
  opacity: 0.5;
}

.clear,
.clear-inverted {
  border: none;
  outline: none;
  background: none;
}

.clear-inverted {
  color: var(--inverted-primary-color);
}

.simple {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.simple-red {
  border: 1px solid var(--error-color-light);
  color: var(--error-color-light);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.background-inverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.size_m {
  font-size: var(--font-size-m);
}

.size_l {
  font-size: var(--font-size-l);
}

.size_xl {
  font-size: var(--font-size-xl);
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}
