.app.dark {
  --bg-color                 : rgb(25 40 48);
  --inverted-bg-color        : rgb(238, 238, 238);

  --primary-color            : rgb(29 163 82);
  --secondary-color          : rgb(192, 191, 199);

  --inverted-primary-color   : rgb(41, 40, 63);
  --inverted-secondary-color : rgb(111, 154, 155);
}