.dark {
  --bg-color                 : #1d2939;
  --inverted-bg-color        : #111828;

  --primary-color            : #d0d5dd;
  --secondary-color          : #4b32c3;

  --inverted-primary-color   : #d0eeef;
  --inverted-secondary-color : #28595a;

  --red-color                : red;
}
