.app_theme_dark {
  --bg-color                 : #505e71;
  --inverted-bg-color        : #111828;

  --primary-color            : #d0d5dd;
  --secondary-color          : #bababa;
  --error-color-light        : #ff7878;
  --error-color-dark         : #ff4d4d;

  --inverted-primary-color   : #d0eeef;
  --inverted-secondary-color : #28595a;

  --red-color                : red;

  // Navbar
  --navbar-bg-color          : #070d1a;

  // Skeleton
  --skeleton-shadow          : rgb(129, 129, 129);
  --skeleton-color           : #364458;

  // Code
  --code-bg                  : #6e7f9d;
}
