:root {
  --bg-color                 : #eee;
  --inverted-bg-color        : #394f5b;

  --primary-color            : #1d1c3c;
  --secondary-color          : #6f9a9b;
  --error-color-light        : red;
  --error-color-dark         : #ac0606;

  --inverted-primary-color   : #b6c9d8;
  --inverted-secondary-color : #c0bfc7;

  --red-color                : red;

  // Navbar
  --navbar-bg-color          : #213441;

  // Skeleton
  --skeleton-shadow          : rgb(220, 220, 220);
  --skeleton-color           : #c7c7c7;

  // Code
  --code-bg                  : #c9cdce;
}
