.app_theme_orange_dark {
  --bg-color                 : #2e5a64;
  --inverted-bg-color        : #05242a;

  --primary-color            : #81a7b0;
  --secondary-color          : #bababa;
  --error-color-light        : #ff7878;
  --error-color-dark         : #ff4d4d;

  --inverted-primary-color   : #d0eeef;
  --inverted-secondary-color : #3a6f70;

  --red-color                : red;

  // Navbar
  --navbar-bg-color          : #021519;

  // Skeleton
  --skeleton-shadow          : #07596c;
  --skeleton-color           : #1e5f6d;

  // Code
  --code-bg                  : #215e6b;

  // Card
  --card-bg                  : #1a444d;

  // List-box
  --list-box-bg              : #1a444d;
}
