.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  background: var(--navbar-bg-color);
  padding: 20px;
}

.links {
  display: flex;
  align-items: center;
}

.mainLink {
  margin-right: 16px;
}

.app-name {
  // width: var(--sidebar-width);
  margin-left: 16px;
  margin-right: 32px;
}

.app-link {

}
