.root {
  display: flex;
}

.label {
  margin-right: 4px;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 gray;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.caret-wrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 9px;
  background: var(--primary-color);
  animation: blink 1s forwards infinite;
}

.readonly {
  opacity: 0.7;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
