.root {
  background : var(--inverted-bg-color);
  width      : var(--sidebar-width);
  height     : calc(100vh - var(--navbar-height));

  position   : relative;
  transition : width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.collapse-btn {
  position : absolute;
  top: 4px;
  right: -28px;
  border: 1px solid #000;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 9px;
}

.switcher {
  display         : flex;
  justify-content : center;
  width           : 100%;
  position        : absolute;
  bottom          : 20px;
}

.lang {
  margin-left: 8px;
}
