.root {
  background : var(--inverted-bg-color);
  width      : var(--sidebar-width);
  height     : calc(100vh - var(--navbar-height));

  position   : relative;
  transition : width 0.3s;
}

.switcher {
  display         : flex;
  justify-content : center;
  width           : 100%;
  position        : absolute;
  bottom          : 20px;
}

.lang {
  margin-left: 8px;
}

.collapse-btn {
  position : absolute;
  right: -22px;
  bottom: 27px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.items {
  margin-top: 20px;
  margin-left: 30px;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-secondary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switcher {
    flex-direction: column;
  }

  .lang {
    margin-left: 0;
  }

  .link {
    opacity: 0;
    transition: 0.2ms opacity;
    width: 0;
  }
}
